extends ../_layout

block content

  section.signup_area.section--padding2
      .container
        .row
          .col-xs-12.register-page-title
            h2
              |Create Your Account
          .col-xs-12.register-page-underTitle  
            p
              |You can choose to create an user account and have access to hundreds of new events around the globe or be an artist and take part in organizing enormous shows!
        .row
          .col-xs-6.register-icons
            a(href="/register/user")
              img.register-icons-image(src='/static/images/svg/user.svg', style='width:45%').register-thumbnail.img-responsive.center-block 
              .register-icons-middle
                a(href="/register/user")
                  button.btn.btn-sm.btn-primary User
          .col-xs-6.register-icons
            a(href="/register/artist")
              img.register-icons-image(src='/static/images/svg/artist.svg', style='width:45%').register-thumbnail.img-responsive.center-block 
              .register-icons-middle
                a(href="/register/artist")
                  button.btn.btn-sm.btn-primary Artist

