extends ../_layout

block content
    .dashboard-area
        .dashboard_contents
            .container
                .row
                    .col-md-12
                    .dashboard_title_area
                        .dashboard__title
                        h3 Account Settings
                form.setting_form(action='#')
                    .row
                    .col-md-6
                        h4
                            | Personal information
                        .information_wrapper.form--fields.dashboard_title_area
                            .form-group
                                label(for='acname') Account Name
                                |
                                sup *
                                |                                             
                                input#acname.text_field(placeholder='Name Surname', value='', type='text')
                            |                                         
                            .form-group
                                label(for='usrname') Username
                                | 
                                sup *
                                |                                             
                                input#usrname.text_field(placeholder='Account name', value='', type='text')
                                |                                             
                                p
                                | Your Eventum URL: https://eventum.com/
                                span defaultName
                            |                                         
                            .form-group
                                label(for='emailad') Email Address
                                | 
                                sup *
                                |                                             
                                input#emailad.text_field(placeholder='contact@somemail.com', value='', type='text')
                            |                                         
                            .col-md-6
                                .form-group
                                    label(for='password') New Password 
                                    |
                                    sup *
                                    |                                                     
                                    input#password.text_field(placeholder='enter new password', type='password')
                                |                                             
                            .col-md-6
                                .form-group
                                    label(for='conpassword') Confirm New Password
                                    |  
                                    sup *
                                    |                                                     
                                    input#conpassword.text_field(placeholder='re-enter new password', type='password')
                            |                                         
                            .form-group
                                label(for='website') Fan Website
                                |              
                                input#website.text_field(placeholder='Fan Website', type='text')
                            |                                         
                            .form-group
                                label(for='country') Country 
                                |
                                sup *
                                |                                             
                                input#country.text_field(placeholder='Country', type='text')
                            |                                                                                  
                            .form-group
                                label(for='authbio') User Biography
                                |                                             
                                textarea#authbio.text_field(name='author_bio', placeholder='Short brief about yourself or your account...')
                            //- end of information section
                    .col-md-6
                        h4
                            | Profile Image &amp; Cover                     
                        .information_wrapper.dashboard_title_area
                            .profile_image_area
                                img(src='static/images/authplc.png', alt='Author profile area')
                                |                                             
                                .img_info
                                    p.bold Profile Image
                                    |                                                 
                                    p.subtitle JPG, GIF or PNG 100x100 px
                                |                                                         
                            .prof_img_upload
                                p.bold Cover Image
                                |                                             
                                img(src='static/images/cvrplc.jpg', alt='The great warrior of China')
                                |        
                                .upload_title
                                    p JPG, GIF or PNG 750x370 px
                                        |                                                 
                                        label.upload_btn(for='dp')
                                            input#dp(type='file')
                                            |                                                     
                                            span.btn.btn--sm.btn--round(aria-hidden='true') Upload Image
                        h4
                            | Social Profiles                                  
                        .information_wrapper.dashboard_title_area
                            .social__single
                                .social_icon
                                span.fa.fa-facebook
                                |                                             
                                .link_field
                                input.text_field(placeholder='ex: www.facebook.com/defaultUser', type='text')
                            .social__single
                                .social_icon
                                span.fa.fa-twitter
                                |                                             
                                .link_field
                                input.text_field(placeholder='ex: www.twitter.com/defaultUser', type='text')
                            .social__single
                                .social_icon
                                span.fa.fa-google-plus
                                |                                             
                                .link_field
                                input.text_field(placeholder='ex: www.google.com/defaultUser', type='text')
                            .social__single
                                .social_icon
                                span.fa.fa-behance
                                |                                             
                    .row
                    .col-md-6
                        h4
                            | Email Settings 
                        .information_wrapper.dashboard_title_area
                            .custom_checkbox
                                input#opt1(name='mail_rating_reminder', checked='', type='checkbox')
                                |                                             
                                label(for='opt1')
                                    span.shadow_checkbox
                                    |                                                 
                                    span.radio_title Rating Reminders
                                    |                                                 
                                    span.desc Send an email reminding me to rate an item after purchase
                            // end /.custom-radio
                            .custom_checkbox
                                input#opt2(name='mail_update_noti', type='checkbox')
                                |                                             
                                label(for='opt2')
                                    span.shadow_checkbox
                                    |                                                 
                                    span.radio_title Item Update Notifications
                                    |                                                 
                                    span.desc Send an email when an item I&apos;ve purchased is updated
                            // end /.custom_checkbox
                            .custom_checkbox
                                input#opt3(name='mail_comment_noti', checked='', type='checkbox')
                                |                                             
                                label(for='opt3')
                                    span.shadow_checkbox
                                    |                                                 
                                    span.radio_title Item Comment Notifications
                                    |                                                 
                                    span.desc Send me an email when someone comments on one of my items
                            // end /.custom_checkbox
                            .custom_checkbox
                                input#opt4(name='mail_item_review_noti', type='checkbox')
                                |                                             
                                label(for='opt4')
                                    span.shadow_checkbox
                                    |                                                 
                                    span.radio_title Item Review Notifications
                                    |                                                 
                                    span.desc Send me an email when my items are approved or rejected
                            // end /.custom_checkbox
                            .custom_checkbox
                                input#opt5(name='mail_review_noti', type='checkbox')
                                |                                             
                                label(for='opt5')
                                    span.shadow_checkbox
                                    |                                                 
                                    span.radio_title Buyer Review Notifications
                                    |                                                 
                                    span.desc Send me an email when someone leaves a review with their rating
                            // end /.custom_checkbox
                            .custom_checkbox
                                input#opt6(name='mail_support_noti', type='checkbox')
                                |                                             
                                label(for='opt6')
                                    span.shadow_checkbox
                                    |                                                 
                                    span.radio_title Support Notifications
                                    |                                                 
                                    span.desc Send me emails showing my soon to expire support entitlements
                            // end /.custom_checkbox
                            .custom_checkbox
                                input#opt7(name='mail_weekly', type='checkbox')
                                |                                             
                                label(for='opt7')
                                    span.shadow_checkbox
                                    |                                                 
                                    span.radio_title Weekly Summary Emails
                                    |                                                 
                                    span.desc Send me emails showing my soon to expire support entitlements
                            // end /.custom_checkbox
                            .custom_checkbox
                                input#opt8(name='mail_newsletter', type='checkbox')
                                |                                             
                                label(for='opt8')
                                    span.shadow_checkbox
                                    |                                                 
                                    span.radio_title MartPlace Newsletter
                                    |                                                 
                                    span.desc Get update about latest news, update and more.
                            // end /.custom_checkbox
                    
                    .col-md-12
                        .dashboard_setting_btn
                        button.btn.btn--round.btn--md(type='submit') Save Change