extends ../_layout

block content
    .dashboard-area
        .dashboard_contents
            .container
                .row
                    .col-md-12
                    .dashboard_title_area
                        .dashboard__title
                        h3 Account Settings
                form.setting_form(action='#')
                    .row
                    .col-md-6
                        h4
                            | Personal information
                        .information_wrapper.form--fields.dashboard_title_area
                            .form-group
                                label(for='acname') Account Name
                                |
                                sup *
                                |                                             
                                input#acname.text_field(placeholder='Name Surname', value='', type='text')
                            |                                         
                            .form-group
                                label(for='usrname') Username
                                | 
                                sup *
                                |                                             
                                input#usrname.text_field(placeholder='Account name', value='', type='text')
                                |                                             
                                p
                                | Your Eventum URL: https://eventum.com/
                                span defaultName
                            |                                         
                            .form-group
                                label(for='emailad') Email Address
                                | 
                                sup *
                                |                                             
                                input#emailad.text_field(placeholder='contact@somemail.com', value='', type='text')
                            |                                         
                            .col-md-6
                                .form-group
                                    label(for='password') New Password 
                                    |
                                    sup *
                                    |                                                     
                                    input#password.text_field(placeholder='enter new password', type='password')
                                |                                             
                            .col-md-6
                                .form-group
                                    label(for='conpassword') Confirm New Password
                                    |  
                                    sup *
                                    |                                                     
                                    input#conpassword.text_field(placeholder='re-enter new password', type='password')
                            |                                         
                            .form-group
                                label(for='country') Country 
                                |
                                sup *
                                |                                             
                                input#country.text_field(placeholder='Country', type='text')
                            |                                                                                  
                            //- end of information section
                    .col-md-6
                        h4
                            | Profile Image &amp; Cover                     
                        .information_wrapper.dashboard_title_area
                            .profile_image_area
                                img(src='static/images/authplc.png', alt='Author profile area')
                                |                                             
                                .img_info
                                    p.bold Profile Image
                                    |                                                 
                                    p.subtitle JPG, GIF or PNG 100x100 px
                                |                                                         
                            .prof_img_upload
                                p.bold Cover Image
                                |                                             
                                img(src='static/images/cvrplc.jpg', alt='The great warrior of China')
                                |        
                                .upload_title
                                    p JPG, GIF or PNG 750x370 px
                                        |                                                 
                                        label.upload_btn(for='dp')
                                            input#dp(type='file')
                                            |                                                     
                                            span.btn.btn--sm.btn--round(aria-hidden='true') Upload Image
                                             
                    .row
                    .col-md-6
                        h4
                            | Event preferences 
                        .information_wrapper.dashboard_title_area
                            .custom_checkbox
                                input#opt1(name='mail_rating_reminder', checked='', type='checkbox')
                                |                                             
                                label(for='opt1')
                                    span.shadow_checkbox
                                    |                                                    
                                    span.radio_title
                                    | Music                 
                                    span.desc 
                                        | 
                            .information_wrapper.dashboard_title_area
                                    .custom_checkbox
                                        input#opt11(name='mail_rating_reminder11', type='checkbox')
                                        |                                             
                                        label(for='opt11')
                                            span.shadow_checkbox
                                            |                                                    
                                            span.radio_title
                                            |                  
                                            span.desc 
                                                | RnB 
                                    .custom_checkbox
                                        input#opt12(name='mail_rating_reminder12', type='checkbox')
                                        |                                             
                                        label(for='opt12')
                                            span.shadow_checkbox
                                            |                                                    
                                            span.radio_title
                                            |                  
                                            span.desc 
                                                | Trap
                                    .custom_checkbox
                                        input#opt13(name='mail_rating_reminder13', type='checkbox')
                                        |                                             
                                        label(for='opt13')
                                            span.shadow_checkbox
                                            |                                                    
                                            span.radio_title
                                            |                  
                                            span.desc 
                                                | House & Techno
                            // end music
                            .custom_checkbox
                                input#opt2(name='mail_rating_reminder2', type='checkbox')
                                |                                             
                                label(for='opt2')
                                    span.shadow_checkbox
                                    |                                                    
                                    span.radio_title
                                    | Art                 
                                    span.desc 
                                        | 
                            .information_wrapper.dashboard_title_area
                                    .custom_checkbox
                                        input#opt21(name='mail_rating_reminder21', type='checkbox')
                                        |                                             
                                        label(for='opt21')
                                            span.shadow_checkbox
                                            |                                                    
                                            span.radio_title
                                            |                  
                                            span.desc 
                                                | Modern art 
                            // end others
                            .custom_checkbox
                                input#opt3(name='mail_rating_reminder', type='checkbox')
                                |                                             
                                label(for='opt3')
                                    span.shadow_checkbox
                                    |                                                    
                                    span.radio_title
                                    | Dance                 
                                    span.desc 
                                        |
                            .custom_checkbox
                                input#opt4(name='mail_rating_reminder', type='checkbox')
                                |                                             
                                label(for='opt4')
                                    span.shadow_checkbox
                                    |                                                    
                                    span.radio_title
                                    | Fest                 
                                    span.desc 
                                        |
                            .custom_checkbox
                                input#opt5(name='mail_rating_reminder', type='checkbox')
                                |                                             
                                label(for='opt5')
                                    span.shadow_checkbox
                                    |                                                    
                                    span.radio_title
                                    | Sport                 
                                    span.desc 
                                        |    
                            .information_wrapper.dashboard_title_area
                                    .custom_checkbox
                                        input#opt51(name='mail_rating_reminder51', type='checkbox')
                                        |                                             
                                        label(for='opt51')
                                            span.shadow_checkbox
                                            |                                                    
                                            span.radio_title
                                            |                  
                                            span.desc 
                                                | Hiking                         
                    .col-md-6
                        h4
                            | Social Profiles                                  
                        .information_wrapper.dashboard_title_area
                            .social__single
                                .social_icon
                                span.fa.fa-facebook
                                |                                             
                                .link_field
                                input.text_field(placeholder='ex: www.facebook.com/defaultUser', type='text')
                            .social__single
                                .social_icon
                                span.fa.fa-twitter
                                |                                             
                                .link_field
                                input.text_field(placeholder='ex: www.twitter.com/defaultUser', type='text')
                            .social__single
                                .social_icon
                                span.fa.fa-google-plus
                                |                                             
                                .link_field
                                input.text_field(placeholder='ex: www.google.com/defaultUser', type='text')
                            .social__single
                                .social_icon
                                span.fa.fa-behance
                                |
                    .col-md-12
                        .dashboard_setting_btn
                        button.btn.btn--round.btn--md(type='submit') Save Change
