doctype html
html(lang='en')
  head
    title Eventum - App for Events
  body
    h1 Eventum - App for Events
    #container.col
      p You are amazing
      p
        | Eventum is a terse and simple