.register-thumbnail {
    width: 35%;
    height: 35%;
    
    /* border: solid 2px black; */
}

.register-icons {
    /* border: solid 2px yellow; */
    /* width: 30%; */
}

.register-page-title {
    text-align: center;
}

.register-page-underTitle {
    text-align: center;
}
