extends ../_layout

block content
  section.hero-area.bgimage
    .bg_image_holder(style='background-image: url("/static/images/bg/home-bg1.jpg"); opacity: 1;')
      img(src='https://image.ibb.co/bzijqS/69424863_event_wallpapers.jpg', alt='bgimg')
    .hero-content.content_above
      .content-wrapper
        .container
          .row
            .col-md-12
              .hero__content__title
                h1
                  span.light Looking for event near to you
                  span.bold 
                    span.color-logo E
                    |ventum is all you need
    .search-area
      .container
        .row
          .col-sm-12
            .search_box
              form(action='/search', method="GET")
                  input.text_field#keywords(type='text', name='keywords', placeholder='Search for events...')
                  .search__select.select-wrap
                      select#categories.select--field(name='category')
                          option(value='') All Categories
                          each category in categories
                              option(value='' + category.name) #{category.name}
                      span.lnr.lnr-chevron-down#category
                  .search__select.select-wrap
                      select#country-input.select--field(name='country')
                          option(value='') Country
                          each country in countries
                            option(value='' + country.name) #{country.name}
                      span.lnr.lnr-chevron-down#city
                  .search__select.select-wrap
                    select#city-input.select--field(name='city')
                      option(value='') City
                    span.lnr.lnr-chevron-down#city 
                  button.search-btn.btn--lg#search Search Now

block extrastuff
    script(src='/static/js/city.js')