mixin artist-settings-personalInfo(guest)
  .form-group
      label(for='acname') Account Name
      |
      sup *
      |                                             
      input#acname.text_field(placeholder='Name Surname', value='', type='text')
  |                                         
  .form-group
      label(for='usrname') Username
      | 
      sup *
      |                                             
      input#usrname.text_field(placeholder='Account name', value='', type='text')
      |                                             
      p
      | Your Eventum URL: https://eventum.com/
      span defaultName
  |                                         
  .form-group
      label(for='emailad') Email Address
      | 
      sup *
      |                                             
      input#emailad.text_field(placeholder='contact@somemail.com', value='', type='text')
  |                                         
  .col-md-6
      .form-group
          label(for='password') New Password 
          |
          sup *
          |                                                     
          input#password.text_field(placeholder='enter new password', type='password')
      |                                             
  .col-md-6
      .form-group
          label(for='conpassword') Confirm New Password
          |  
          sup *
          |                                                     
          input#conpassword.text_field(placeholder='re-enter new password', type='password')
  |                                         
  .form-group
      label(for='website') Website
      |                                             
      input#website.text_field(placeholder='Website', type='text')
      |                                         
                                                                                                        
  .form-group
    label(for='authbio') Author Bio
    |                                             
    textarea#authbio.text_field(name='author_bio', placeholder='Short brief about yourself or your account...')

mixin artist-settings-emailSettings(guest)
  .custom_checkbox
    input#opt3(name='mail_comment_noti', checked='', type='checkbox')
    |                                             
    label(for='opt3')
      span.shadow_checkbox
      |                                                 
      span.radio_title Event Comment Notifications
      |                                                 
      span.desc Send me an email when someone comments on one of my events
  .custom_checkbox
    input#opt4(name='mail_item_review_noti', checked='', type='checkbox')
    |                                             
    label(for='opt4')
      span.shadow_checkbox
      |                                                 
      span.radio_title Event Review Notifications
      |                                                 
      span.desc Send me an email when my events are approved or rejected
  .custom_checkbox
    input#opt5(name='mail_review_noti', checked='', type='checkbox')
    |                                             
    label(for='opt5')
      span.shadow_checkbox
      |                                                 
      span.radio_title Buyer Review Notifications
      |                                                 
      span.desc Send me an email when someone leaves a review with their rating
  .custom_checkbox
    input#opt7(name='mail_weekly', type='checkbox')
    |                                             
    label(for='opt7')
      span.shadow_checkbox
      |                                                 
      span.radio_title Weekly Summary Emails
      |                                                 
      span.desc Send me emails showing my soon to expire support entitlements
  .custom_checkbox
    input#opt8(name='mail_newsletter', type='checkbox')
    |                                             
    label(for='opt8')
      span.shadow_checkbox
      |                                                 
      span.radio_title eventum Newsletter
      |                                                 
      span.desc Get update about latest news, update and more.    