mixin site-navigation(guest)
    .shortcode_wrapper
        .container
        .menu-area.menu--style2
            .top-menu-area
                .container
                    .row
                        .col-md-4.col-sm-4.col-xs-7.v_middle
                            .logo
                                a(href='/')
                                    img(src='/static/images/logo-h.png', alt='logo image', width='200')
                        .col-md-7.col-md-offset-1.col-xs-4.col-sm-8.v_middle
                            .author-area.not_logged_in
                                .author__notification_area
                                    ul
                                        li.has_dropdown
                                            .icon_wrap
                                                span.lnr.lnr-cart
                                                span
                                            .dropdown.dropdown--cart
                                                .cart_area#cart-space
                                                    .total#empty-cart-one
                                                        h5
                                                            | Your cart is empty!
                                                    //- inject content here
                                                    .cart_action
                                                        a.go_cart(href='cart.html') View Cart
                                                        a.go_checkout(href='/checkout') Checkout
                                if user
                                    .author-author__info.inline.has_dropdown
                                        .author__avatar
                                            if(account)
                                                img.img-circle(src='/static/uploads/' + account.UserInfo.avatar, height = '50', width = '50', alt='user avatar')
                                            else
                                                img(src='/static/uploads/' + 'usr_avatar.png', height = '50', width = '50', alt='user avatar')
                                        .autor__info
                                            p.name
                                            | #{user.name}
                                            p.ammount
                                                | #{user.city}
                                        .dropdown.dropdown--author
                                            ul
                                                li
                                                    a(href='/profile')
                                                        span.lnr.lnr-user
                                                        | Profile
                                                li
                                                    a(href='/settings')
                                                        span.lnr.lnr-cog
                                                        |  Setting
                                                li
                                                    a(href='/logout')
                                                        span.lnr.lnr-exit
                                                        | Logout
                                else
                                    .pull-right.join
                                    a.header-register-button.btn.btn-secondary.btn--xs(href='/register') Join Now
                                    a.header-login-buttom.btn.btn--xs(href='/login') Login
                            .mobile_content
                                span.lnr.lnr-user.menu_icon
                                .offcanvas-menu.closed
                                    span.lnr.lnr-cross.close_menu
                                    .author-author__info
                                        .author__avatar.v_middle
                                            img(src='/static/images/usr_avatar.png', alt='user avatar')
                                        .autor__info.v_middle
                                            p.name
                                                | Jhon Doe
                                            p.ammount $20.45
                                    .author__notification_area
                                        ul
                                            li
                                                a(href='notification.html')
                                                    .icon_wrap
                                                        span.lnr.lnr-alarm
                                                        span.notification_count.noti 25
                                            li
                                                a(href='message.html')
                                                    .icon_wrap
                                                        span.lnr.lnr-envelope
                                                        span.notification_count.msg 6
                                            li
                                                a(href='cart.html')
                                                    .icon_wrap
                                                        span.lnr.lnr-cart
                                                        span.notification_count.purch 2
                                    .dropdown.dropdown--author
                                        ul
                                            li
                                                a(href='author.html')
                                                    span.lnr.lnr-user
                                                    | Profile
                                            li
                                                a(href='dashboard.html')
                                                    span.lnr.lnr-home
                                                    |  Dashboard
                                            li
                                                a(href='dashboard-setting.html')
                                                    span.lnr.lnr-cog
                                                    |  Setting
                                            li
                                                a(href='cart.html')
                                                    span.lnr.lnr-cart
                                                    | Purchases
                                            li
                                                a(href='favourites.html')
                                                    span.lnr.lnr-heart
                                                    |  Favourite
                                            li
                                                a(href='dashboard-add-credit.html')
                                                    span.lnr.lnr-dice
                                                    | Add Credits
                                            li
                                                a(href='dashboard-statement.html')
                                                    span.lnr.lnr-chart-bars
                                                    | Sale Statement
                                            li
                                                a(href='dashboard-upload.html')
                                                    span.lnr.lnr-upload
                                                    | Upload Item
                                            li
                                                a(href='dashboard-manage-item.html')
                                                    span.lnr.lnr-book
                                                    | Manage Item
                                            li
                                                a(href='dashboard-withdrawal.html')
                                                    span.lnr.lnr-briefcase
                                                    | Withdrawals
                                            li
                                                a(href='#')
                                                    span.lnr.lnr-exit
                                                    | Logout
                                    .text-center
                                        a.author-area__seller-btn.inline(href='signup.html') Become a Seller