mixin terms-conditions(guest)
    #myModal2.modal.fade.rating_modal(tabindex='-1', role='dialog', aria-labelledby='myModal2', style='display: none;', aria-hidden='true')
        .modal-dialog.modal-md(role='document')
            .modal-content
                .modal-header
                    |                     
                    h3.modal-title Terms & Conditions?                     
                    p You will not be able to change your answer once you agree!
                    |
                    .row
                        .col-md-12
                            .cardify.term_modules
                                .term
                                    .term__title
                                        h4 Terms of Use
                                    |                             
                                    p
                                        | laoreet dolore magna aluam erat volutpaterat consectetuerni euism laoreet dolore magna aliquam erat volutpaterat .
                                        | laoreet dolore magna aliqm volutpat onsectetuer amet consectetuer adipiscing elit sed diam nonmy ni euism laore dolore
                                        | magna aluam eravolutpaterat consectetuerni
                                        |
                                        | laoreet dolore magna aluam erat volutpaterat consectetuerni euism laoreet dolore magna aliquam erat volutpaterat .
                                        | magna aluam eravolutpaterat consectetuerni
