extends ../_layout

block content
    section.dashboard-area
        .dashboard_contents
            .container
                form.setting_form(action='/checkout' method="POST")
                    .row
                        .col-md-6
                            .information_module
                                .toggle_title
                                    h4 Biling Information 
                                |                                 
                                .information__set
                                    .information_wrapper.form--fields
                                        .row
                                            .col-md-6
                                                .form-group
                                                    label(for='first_name')
                                                        | First Name 
                                                        sup *
                                                    |                                                     
                                                    input#first_name.text_field(placeholder='First Name', value='', name='firstname', type='text')
                                            |                                             
                                            .col-md-6
                                                .form-group
                                                    label(for='last_name')
                                                        | Last Name 
                                                        sup *
                                                    |                                                     
                                                    input#last_name.text_field(placeholder='Last Name', value='', name='lastname', type='text')
                                            // end /.row
                                        .form-group
                                            label(for='email1')
                                                | Email Address 
                                                sup *
                                            |                                             
                                            input#email1.text_field(placeholder='Email address', value='contact@somemail.com', name='email', type='text')
                                        |                                         
                                        .form-group
                                            label(for='country1')
                                                | Country 
                                                sup *
                                            |                                             
                                            .select-wrap.select-wrap2
                                                select#country1.text_field(name='country')
                                                    option(value='') Select one
                                                    |                                                             
                                                    each country in countries
                                                        option(value='' + country) #{country}
                                                |                                              
                                                span.lnr.lnr-chevron-down                                     
                                            .form-group
                                                label(for='address1') Address
                                                |                                             
                                                input#address1.text_field(placeholder='Address line one', name='addressLineOne', type='text')
                                            |                                                                                  
                                            .row
                                                .col-md-6
                                                    .form-group
                                                        label(for='city')
                                                            | City / State 
                                                            sup *                                                     
                                                    .select-wrap.select-wrap2
                                                        select#city.text_field(name='city')
                                                            option(value='') Select one
                                                            |                                                             
                                                            each city in cities
                                                                option(value='' + city) #{city}
                                                        |                                                         
                                                        span.lnr.lnr-chevron-down
                                                .col-md-6
                                                    .form-group
                                                        label(for='zipcode')
                                                            | Zip / Postal Code 
                                                            sup *                                                                      
                                                    .select-wrap.select-wrap2
                                                        input#zipcode.text_field(placeholder='zip/postal code', name='zipcode', type='text')
                                    // end /.information__set
                                                |                                             
                                                    
                                // end /.information_module
                            // end /.col-md-6
                        .col-md-6
                            .information_module.order_summary
                                .toggle_title
                                    h4 Order Summary
                                |                                 
                                ul#list-tickets
                                    //- inject content here
                        .row
                            .col-md-12                                                      
                                #messagediv
                            .col-md-10.col-md-offset-8                                                      
                                button.btn.btn--round.btn--default#confirmOrder(type='button') Confirm Order
