extends ../_layout

block extrastuff
  link(rel='stylesheet', href='/static/bootstrap/datepicker.css')

block content
  .dashboard_contents.dashboard-area
    .container
      .row
        .col-md-12
          .dashboard_title_area
            .dashboard__title
              h3 Create an Event
        // end /.col-md-12
      // end /.row
      div#alertdiv
      #createEventForm.setting_form
        .row
          .col-md-6
            .information_module
              a.toggle_title(id = 'eventInfo', href='#collapse2', role='button', data-toggle='collapse', aria-expanded='false', aria-controls='collapse1')
                h4
                  | Event info 
                  span.lnr.lnr-chevron-down
              #collapse2.information__set.toggle_module.collapse.in
                .information_wrapper.form--fields
                  .form-group
                    label(for='event-title-input')
                      | Title
                      sup *
                    input#event-title-input.text_field(type='text', placeholder='First Name', value='Aazz Tech')
                  .form-group
                    label(for='date-input')
                      | Date of Event 
                      sup *
                    .input_with_icon
                      input.text_field.dattaPikkara.hasDatepicker(type='text', placeholder='Date', id='date-input')
                      span.lnr.lnr-calendar-full
                  .form-group
                    label(for='start-time-input')
                      | Start Time
                      sup *
                    input#start-time-input.text_field(type='text', placeholder='Hours:Minutes', value='')
                  .row
                    .col-md-6
                      .form-group
                        label(for='country-input')
                          | Country
                          sup *
                        .select-wrap.select-wrap2
                          //- script.
                          //-  console.log(!{JSON.stringify(countries[1]name)})
                          select#country-input.text_field(name='country')
                            option(value='') Select one
                            each country in countries
                              option(value='' + country.name) #{country.name}
                          span.lnr.lnr-chevron-down
                    .col-md-6
                      .form-group
                        label(for='city-input')
                          | City
                          sup *
                        .select-wrap.select-wrap2
                          select#city-input.text_field(name='city')
                            option(value='') Select one
                          span.lnr.lnr-chevron-down
                  .form-group
                    label(for='place-name-input') 
                      | Place's name
                      sup *
                    input#place-name-input.text_field(type='text', placeholder='Place\'s name')
                  .form-group
                    label(for="address-input")
                      | Address
                      sup *
                    input#address-input.text_field(type="text", placeholder='Place\'s address')
                  .form-group
                    label(for='event-desc-input')
                      | Event Description
                      sup *
                    textarea#event-desc-input.text_field(name='event-desc', placeholder='Description about the event')
                  .row
                    .col-md-6
                      .form-group
                        label(for='category-input')
                          | Category 
                          sup *
                        .select-wrap.select-wrap2
                          select#category-input.text_field(name='category')
                            option(value='') Select one
                            each categorie in categories
                              option(value='' + categorie.name) #{categorie.name}
                          span.lnr.lnr-chevron-down
                    .col-md-6
                      .form-group
                        label(for='subcategory-input')
                          | Subcategory
                          sup *
                        .select-wrap.select-wrap2
                          select#subcategory-input.text_field(name='subcategory')
                            option(value='') Select one
                          span.lnr.lnr-chevron-down
                  
          .col-md-6
            .information_module
              a.toggle_title(href='#collapse3', id = 'imageInfo', role='button', data-toggle='collapse', aria-expanded='false', aria-controls='collapse1')
                h4
                  | Cover Photo 
                  span.lnr.lnr-chevron-down
              #collapse3.information__set.profile_images.toggle_module.collapse.in
                .information_wrapper
                  .prof_img_upload
                    p.bold Cover Image
                    img#eventCoverImg(src='/static/images/cvrplc.jpg', alt='The great warrior of China', width = '800', height ='400')
                    .upload_title
                      p JPG, GIF or PNG 1600x400px
                      label.upload_btn(for='dp')
                        form#eventCoverForm( method='POST', enctype='multipart/form-data')
                            input#dp(type='file', name='eventCoverPhoto', value='' + coverImg, onchange="document.getElementById('eventCoverImg').src = window.URL.createObjectURL(this.files[0])")
                            |                                                     
                            span.btn.btn--sm.btn--round(aria-hidden='true', id ='uploadEventCover') Upload Image
                            |
                            input.btn.btn--sm.btn--round(type='file', name='image')
            .information_module
              a.toggle_title(href='#collapse5', role='button', data-toggle='collapse', aria-expanded='false', aria-controls='collapse1')
                h4
                  | Tickets Information 
                  span.lnr.lnr-chevron-down
              #collapse5.information__set.social_profile.toggle_module.collapse.in
                .information_wrapper
                  .form-group
                    label(for='capacity-input')
                      | Capacity
                      sup *
                    input#capacity-input.text_field(type='text', placeholder='Capacity', value='')
                  .form-group
                    label(for='price-input')
                      | Price BGN
                      sup *
                    input#price-input.text_field(type='text', placeholder='Price', value='')
          .col-md-12
            .dashboard_setting_btn
              button#create-event-button.btn.btn--round.btn--md(type='button') Create

block extrastuff
  script(src='/static/js/city.js')
  script(src='/static/js/create.event.js')
  script(src='/static/js/vendor/datepicker.js')
