mixin user-follow()
  .user_area
      ul
          li
              .user_single
                  .user__short_desc
                      .user_avatar
                          img(src='images/m1.png', alt='')
                      .user_info
                          a(href='#') CizThemes
                          p Member Since: February 2017 Bangladesh
                  .user__meta
                      p 268 Items
                      p 970 Sales
                      .rating.product--rating
                          ul
                              li
                                  span.fa.fa-star
                              li
                                  span.fa.fa-star
                              li
                                  span.fa.fa-star
                              li
                                  span.fa.fa-star
                              li
                                  span.fa.fa-star-half-o
                          span.rating__count (34)
                  .user__status.user--following
                      a.btn.btn--round.btn--md(href='#') Following
              // end /.user_single
          li
              .user_single
                  .user__short_desc
                      .user_avatar
                          img(src='images/m2.png', alt='')
                      .user_info
                          a(href='#') CizThemes
                          p Member Since: February 2017 Bangladesh
                  .user__meta
                      p 268 Items
                      p 970 Sales
                      .rating.product--rating
                          ul
                              li
                                  span.fa.fa-star
                              li
                                  span.fa.fa-star
                              li
                                  span.fa.fa-star
                              li
                                  span.fa.fa-star
                              li
                                  span.fa.fa-star-half-o
                          span.rating__count (34)
                  .user__status.user--following
                      a.btn.btn--round.btn--md(href='#') Following
              // end /.user_single
          li
              .user_single
                  .user__short_desc
                      .user_avatar
                          img(src='images/m4.png', alt='')
                      .user_info
                          a(href='#') CizThemes
                          p Member Since: February 2017 Bangladesh
                  .user__meta
                      p 268 Items
                      p 970 Sales
                      .rating.product--rating
                          ul
                              li
                                  span.fa.fa-star
                              li
                                  span.fa.fa-star
                              li
                                  span.fa.fa-star
                              li
                                  span.fa.fa-star
                              li
                                  span.fa.fa-star-half-o
                          span.rating__count (34)
                  .user__status.user--following
                      a.btn.btn--round.btn--md(href='#') Following
              // end /.user_single
          li
              .user_single
                  .user__short_desc
                      .user_avatar
                          img(src='images/m5.png', alt='')
                      .user_info
                          a(href='#') CizThemes
                          p Member Since: February 2017 Bangladesh
                  .user__meta
                      p 268 Items
                      p 970 Sales
                      .rating.product--rating
                          ul
                              li
                                  span.fa.fa-star
                              li
                                  span.fa.fa-star
                              li
                                  span.fa.fa-star
                              li
                                  span.fa.fa-star
                              li
                                  span.fa.fa-star-half-o
                          span.rating__count (34)
                  .user__status.user--following
                      a.btn.btn--round.btn--md(href='#') Following
              // end /.user_single
          li
              .user_single
                  .user__short_desc
                      .user_avatar
                          img(src='images/m6.png', alt='')
                      .user_info
                          a(href='#') CizThemes
                          p Member Since: February 2017 Bangladesh
                  .user__meta
                      p 268 Items
                      p 970 Sales
                      .rating.product--rating
                          ul
                              li
                                  span.fa.fa-star
                              li
                                  span.fa.fa-star
                              li
                                  span.fa.fa-star
                              li
                                  span.fa.fa-star
                              li
                                  span.fa.fa-star-half-o
                          span.rating__count (34)
                  .user__status.user--following
                      a.btn.btn--round.btn--md(href='#') Following
              // end /.user_single
          li
              .user_single
                  .user__short_desc
                      .user_avatar
                          img(src='images/m7.png', alt='')
                      .user_info
                          a(href='#') CizThemes
                          p Member Since: February 2017 Bangladesh
                  .user__meta
                      p 268 Items
                      p 970 Sales
                      .rating.product--rating
                          ul
                              li
                                  span.fa.fa-star
                              li
                                  span.fa.fa-star
                              li
                                  span.fa.fa-star
                              li
                                  span.fa.fa-star
                              li
                                  span.fa.fa-star-half-o
                          span.rating__count (34)
                  .user__status.user--following
                      a.btn.btn--round.btn--md(href='#') Following
              // end /.user_single
          li
              .user_single
                  .user__short_desc
                      .user_avatar
                          img(src='images/m8.png', alt='')
                      .user_info
                          a(href='#') CizThemes
                          p Member Since: February 2017 Bangladesh
                  .user__meta
                      p 268 Items
                      p 970 Sales
                      .rating.product--rating
                          ul
                              li
                                  span.fa.fa-star
                              li
                                  span.fa.fa-star
                              li
                                  span.fa.fa-star
                              li
                                  span.fa.fa-star
                              li
                                  span.fa.fa-star-half-o
                          span.rating__count (34)
                  .user__status.user--following
                      a.btn.btn--round.btn--md(href='#') Following
              // end /.user_single
          li
              .user_single
                  .user__short_desc
                      .user_avatar
                          img(src='images/m9.png', alt='')
                      .user_info
                          a(href='#') CizThemes
                          p Member Since: February 2017 Bangladesh
                  .user__meta
                      p 268 Items
                      p 970 Sales
                      .rating.product--rating
                          ul
                              li
                                  span.fa.fa-star
                              li
                                  span.fa.fa-star
                              li
                                  span.fa.fa-star
                              li
                                  span.fa.fa-star
                              li
                                  span.fa.fa-star-half-o
                          span.rating__count (34)
                  .user__status.user--following
                      a.btn.btn--round.btn--md(href='#') Following
              // end /.user_single
          li
              .user_single
                  .user__short_desc
                      .user_avatar
                          img(src='images/m10.png', alt='')
                      .user_info
                          a(href='#') CizThemes
                          p Member Since: February 2017 Bangladesh
                  .user__meta
                      p 268 Items
                      p 970 Sales
                      .rating.product--rating
                          ul
                              li
                                  span.fa.fa-star
                              li
                                  span.fa.fa-star
                              li
                                  span.fa.fa-star
                              li
                                  span.fa.fa-star
                              li
                                  span.fa.fa-star-half-o
                          span.rating__count (34)
                  .user__status.user--following
                      a.btn.btn--round.btn--md(href='#') Following
              // end /.user_single
          li
              .user_single
                  .user__short_desc
                      .user_avatar
                          img(src='images/m3.png', alt='')
                      .user_info
                          a(href='#') CizThemes
                          p Member Since: February 2017 Bangladesh
                  .user__meta
                      p 268 Items
                      p 970 Sales
                      .rating.product--rating
                          ul
                              li
                                  span.fa.fa-star
                              li
                                  span.fa.fa-star
                              li
                                  span.fa.fa-star
                              li
                                  span.fa.fa-star
                              li
                                  span.fa.fa-star-half-o
                          span.rating__count (34)
                  .user__status.user--following
                      a.btn.btn--round.btn--md(href='#') Following
              // end /.user_single
      .pagination-area.pagination-area2
          nav.navigation.pagination(role='navigation')
              .nav-links
                  a.page-numbers.current(href='#') 1
                  a.page-numbers(href='#') 2
                  a.page-numbers(href='#') 3
                  a.next.page-numbers(href='#')
                      span.lnr.lnr-arrow-right
