mixin user-info()
    aside.sidebar.sidebar_author
        .author-card.sidebar-card
            .author-infos
                .author_avatar
                    img(src= '/static/uploads/' + account.UserInfo.avatar, alt='Presenting the broken author avatar ')
                .author
                    h4 #{username}
                    p #{createdAt}
                // end /.author
                .social.social--color--filled
                    ul
                        li
                            a(href='#')
                                span.fa.fa-facebook
                        li
                            a(href='#')
                                span.fa.fa-twitter
                        li
                            a(href='#')
                                span.fa.fa-dribbble
                // end /.social
                .author-btn
                    a.btn.btn--md.btn--round(href='#') Follow
                // end /.author-btn
            // end /.author-infos
        // end /.author-card
