mixin user-info()
    aside.sidebar.sidebar_author
        .author-card.sidebar-card
            .author-infos
                .author_avatar
                    img(src= '/static/uploads/' + account.UserInfo.avatar, alt='Presenting the broken author avatar ')
                .author
                    h4 #{account.name}
                    p #{account.createdAt}
                .social.social--color--filled
                    ul
                        li
                            a(href='#')
                                span.fa.fa-facebook
                        li
                            a(href='#')
                                span.fa.fa-twitter
