mixin user-menu()
    aside.sidebar.sidebar_author
        .sidebar-card.author-menu
            ul
                li
                    a.active(href='#') Profile
                li
                    a(href='author-items.html') Author Items
                li
                    a(href='author-reviews.html') Customer Reviews
                li
                    a(href='author-followers.html') Followers (67)
                li
                    a(href='author-following.html') Following (39)
        // end /.author-menu
