mixin user-menu()
    aside.sidebar.sidebar_author
        .sidebar-card.author-menu
            ul
                li
                    a(href='/profile/'+ account.username) Profile
                if account.role == 'User'
                    li
                        a(href='/profile/'+ account.username +'/event') Visited Events
                    //- li
                    //-     a(href='/profile/'+ account.username +'/following') Following
                else
                    li
                        a(href='/profile/'+ account.username +'/event') Events
                    //- li
                    //-     a(href='/profile/'+ account.username +'/followers') Followers
