mixin user-bio()
    .row
        .col-md-4.col-sm-4
            .author-info.mcolorbg4
                if account.role == 'User'
                    p Visited Events
                else
                    p Events 
                h3 #{account.eventInfo.length || 0}
        .col-md-4.col-sm-4
            .author-info.pcolorbg
                p Role
                h3 #{account.role}
        if account.role == 'Artist'
            .col-md-4.col-sm-4
                .author-info.scolorbg
                    p Total Items
                    .rating.product--rating
                        - var starIndex = 0;
                        ul
                            while starIndex < starRating-1
                                li 
                                    span.fa.fa-star
                                    - starIndex+=2
                            
                            if starRating%2 === 1
                                li
                                    span.fa.fa-star-half-o 
                                    - starIndex+=2   
                            while starIndex < 10
                                li 
                                    span.fa.fa-star-o
                                    - starIndex+=2

    .author_module.about_author
        .row
            .col-md-12
                h2
                    | About 
                    span #{name}
                p #{biography}
                    
                p
                    
        // end /.row 
